* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white
}

header {
	position: relative;
	background-color: black;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-container {
	display: flex;
	position: relative;
	align-items: center;
	width: 100%;
	max-width: 1200px;
}

.header-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-menu ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-menu li {
	display: inline-block;
	padding: 23px;
}

.header-menu li a {

	color: white;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
}

.header-menu li:hover {
	background-color: #333;
}

.logo {

	display: flex;
	height: 70px;
}

.logo img {
	height: 100%;
}

.search-box {
	position: absolute;
	right: 80px;
	display: flex;
	float: left;
	align-items: center;
	justify-content: center;
}

.search-box input {
	border: none;
	border-bottom: 2px solid white;
	padding: 5px;
	margin-right: 10px;
	font-size: 16px;
	width: 250px;
	color: black;

}

.search-box button {
	display: flex;
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;

}

.search-box button i {

	font-size: 20px;
}

.login {
	padding: 0px 0 5px;
	position: absolute;
	right: 0;
	display: block;
	float: left;
}

.login a {
	display: flex;
	align-items: center;
	font-size: 16px;

	text-decoration: none;
}

.login a i {
	font-size: 20px;
	margin-right: 5px;

}
.cart {
	padding: 0px 0 5px;
	position: absolute;
	right: 35px;
	display: block;
	float: left;
}
.cart a {
	
	display: flex;
	align-items: center;
	font-size: 16px;
	text-decoration: none;
}

.cart a i {
	font-size: 20px;
	margin-right: 5px;

}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;

}

a {
	text-decoration: none;

}

ul {
	list-style: none;
}

/* Main*/
.main {
	width: 100%;
	margin: 0 auto;
	padding: 20px;

}

.product-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	padding-top: 50px;
}

.product-images {
	width: 50%;

}

.slideshow {

	position: sticky;
	top: 0;
	width: 100%;
	height: 900px;
	margin: 0 0 0 10%;

}

.slideshow img {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;

	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.slideshow img.active {
	opacity: 1;
}

.slideshow button.prev {
	left: 0;
}

.slideshow button.next {
	right: 0;
}

.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 24px;
	font-weight: bold;
	color: gray;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	cursor: pointer;
	user-select: none;
	background: none;
	border: none;
}

.active {
	display: block;
}

.product-details {
	width: 45%;
	padding: 0 10% 0 3%;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.product-price {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

.product-storage {
	margin: 5px 0;
}

.product-storage li {
	display: inline-block;
	margin-right: 10px;
}

.color {
	width: 100px;
	height: 30px;
	border: none;
	background-color: #f2f2f2;
	font-size: 16px;
	color: #333;
	margin: 5px 0 20px;
}

.color option {
	background-color: #f2f2f2;
	color: #333;
}


.product-promotion {
	background-color: #252629;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}

.product-promotion h3 {
	color: white;
	font-size: 18px;
	margin-bottom: 10px;
}

.product-promotion ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.product-promotion li {
	margin-bottom: 5px;
	padding-left: 10px;
	position: relative;
}

.product-promotion li:before {
	content: "•";
	color: #999;
	font-size: 12px;
	position: absolute;
	left: 0;
	top: 2px;
}

.buy-now-button {
	background-color: green;
	color: white;
	font-size: 18px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
}

.buy-now-button:hover {
	background-color: #0fb771;
}

.product-description {
	margin: 20px 0;
}

.product-description p {
	margin: 7px 0;
}




label {
	display: block;
	margin-bottom: 5px;
	color: black;
}

input,
textarea {
	display: block;
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	color: black;
}

.form-box button {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.form-box button:hover {
	background-color: #0069d9;
}

/* Footer */
footer {
	position: relative;
	background: black;
	color: white;
	padding: 60px 0 0;
}

.footer-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 50px 40px 50px;
}

.footer-section {
	flex: 1;
	margin-right: 40px;
}

.footer-section h2 {
	font-size: 18px;
	margin-bottom: 20px;
}

.logo-text {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 20px;
}

.contact span {
	display: block;
	margin-bottom: 10px;
}

.socials a {
	display: inline-block;
	margin-right: 10px;
	font-size: 24px;
	color: #f2f2f2;
	transition: transform 0.3s;
}

.socials a:hover {
	transform: translateY(-5px);
}

.links li {
	margin-bottom: 10px;
}

.links a {
	color: #f2f2f2;
	text-decoration: none;
	transition: color 0.3s;
}


.btn {
	display: inline-block;
	background: #4caf50;
	color: #fff;
	padding: 10px 30px;
	margin-top: 10px;
	border-radius: 5px;
	text-decoration: none;
	transition: background 0.3s;
}

.btn:hover {
	background: #3e8e41;
}

.btn-big {
	padding: 14px 40px;
	font-size: 18px;
}

.contact-btn {
	background: #4caf50;
	border: none;
	cursor: pointer;
	transition: background 0.3s;
}

.contact-btn:hover {
	background: #3e8e41;
}

/* Footer Bottom */
.footer-bottom {
	background: #111;
	color: #f2f2f2;
	padding: 10px 0;
	text-align: center;
	font-size: 14px;
	bottom: 0;
}

a:hover {
	color: rgb(0, 162, 255);
}