body {
    margin: 0;
    padding: 0;
}

#bao-chua {
    display: flex;
}

#thanh-ben {
    width: 20%;
    background-color: #f1f1f1;
    height: 70vh;
    padding: 40px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#thanh-ben ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#thanh-ben li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#thanh-ben i {
    margin-right: 10px;
    color: black;
    cursor: pointer;
}

#thanh-ben a {
    text-decoration: none;
    color: black;
}

#thong-tin {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 40px 0 0 20px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.nhan-thong-tin {
    font-weight: bold;
    margin-bottom: 5px;
}

.nhan-chinh {
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 10px;
}

.du-lieu-nguoi-dung {
    margin-bottom: 10px;
}

.info-container {
    margin-bottom: 20px;
}

#nut-thoat {
    position: absolute;
    bottom: 140px;
    right: 20px;
    padding: 10px;
    background-color:red;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.trong-suot {
    color: transparent;
}

#khung-chua {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

#khung-thong-tin {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#khung-thong-tin h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

#khung-thong-tin label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

#khung-thong-tin input[type="text"],
#khung-thong-tin input[type="email"],
#khung-thong-tin input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#khung-thong-tin button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#nut-luu {
    background-color:green;
    display: flex;
    float: right;

}